<div class="container-fluid bg-light mb-4 p-3">
    <div class="row" id="headContainer">
      <div class="col">
        <h1 class="text-success">X-School</h1>
      </div>
      <div class="col d-flex justify-content-end align-items-center">
        <div class="navbar-menu">
          <div class="navbar-end">

            <a href="#"  (click)="apply()">Apply</a>
            |
            <a href="#" (click)="Login()">Login</a>
            |
            
            <a href="#" > <button  type="button" class="btn btn-success">LogOut</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <h3 class="text-center"> <span class="fw-bolder text-success">X-School</span> Since 1996</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, non quasi. Nostrum quae debitis sequi deserunt exercitationem 
                a perspiciatis deleniti, obcaecati facilis possimus modi velit cupiditate nesciunt aliquid nisi consequuntur voluptatem eveniet id
                 quod minima? Nesciunt sint laboriosam soluta quidem ratione. Rerum, vel natus magnam est dolor aut tenetur architecto deserunt animi 
                 cupiditate repellat iste. Sed eos iure autem, praesentium rerum beatae quidem reiciendis voluptates odit explicabo corrupti vero
                  dolores recusandae, placeat pariatur inventore eligendi nemo nulla! Ipsum, magni iusto sequi, sed, sit molestiae totam autem maiores
                 reiciendis asperiores beatae? Doloribus optio cum aliquid ea aliquam, eius pariatur natus voluptate?</p>
                 <div class="row">
                    <div class="col-md-4 ">
                        <img src="https://images.unsplash.com/photo-1594608661623-aa0bd3a69d98?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHNjaG9vbHxlbnwwfHwwfHx8MA%3D%3D" alt="img" class="img">
                    </div>
                    <div class="col-md-4 " >
                        <img src="https://images.unsplash.com/photo-1577896851231-70ef18881754?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fHNjaG9vbHxlbnwwfHwwfHx8MA%3D%3D" alt="img2" class="img">
                    </div>
                    <div class="col-md-4 ">
                        <img src="https://images.unsplash.com/photo-1571260899304-425eee4c7efc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjd8fHNjaG9vbHxlbnwwfHwwfHx8MA%3D%3D" alt="new" class="img">

                    </div>


                 </div>
            

        </div>

    </div>
    <hr>
    <div class="row">
      
        <div class="col-md-12 my-5">
            
            <h3 class="text-success text-center">You Can Find with</h3>
            <div class="row">
                <div class="col-md-4 phone" >
                    <h5>Email</h5>
                    <h6>new@gmail.com</h6>
                    <h6>X-School@gmail.com</h6>
                    <h6>new@gmail.com</h6>
                    <h6>X-School@gmail.com</h6>

                </div>
                <div class="col-md-4 phone">
                    <h5>Phone Number</h5>
                    <h6>+251912121212</h6>
                    <h6>+251913131313</h6>
                    <h6>+251141414141</h6>
                    <h6>+251915151511</h6>

                </div>
                <div class="col-md-4 phone">
                    <h5>Address Info</h5>
                    <h6>Bole Road AA biulding 3rd floor</h6>
                    <h6>Kality Cafdem 2nd floor</h6>
                    <h6>Hayat in front of koko building</h6>
                    <h6>Hayat in front of koko building</h6>

                </div>
                

            </div>


        </div>

    </div>

  </div>
  <div>
    <router-outlet></router-outlet>

  </div>
 
    


