.vh-100 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .all{
    background-color: #f0f0f0;
  }
  .button{
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .card{
    margin-top: 300px;
  }

  .custom-input {
    background-color: rgba(211, 211, 225, 0.6);
    border: 1px solid #9d9a9a; 
    width: 620px
  }
  .bg-image{
    background-image: url('src/assets/background.jpg');
    background-size: cover;
    background-position: center;
    height: 150vh;
    position: relative;
    

  }
  
  .watery-overlay {
    background-color: rgba(211, 211, 225, 0.6); /* Adjust the color and opacity as needed */
    padding: 20px;
    width: 700px;
  }

