<div class="container school">
    <div class="row">
        <div class="col-md-12 text-center my-3" >
            <h3>X-School</h3>
           
        </div>


    </div>
    <div class="row">
        <div class="col-md-2"></div>
        
                <div class="col-md-4 mx-2">
                    <div class="card" (click)="admin()">
                        <div class="card-body text-center">
                            <h3>Admin</h3>

                        </div>

                    </div>
                </div>

                <div class="col-md-4 mx-2">
                    <div class="card" (click)="user()">
                        <div class="card-body text-center">
                            <h3>User</h3>

                        </div>

                    </div>
                </div>
                <div class="col-md-2"></div>

    </div>

</div>
